.countdown {
    position: relative;
    padding-bottom: 6.25rem;
    text-align: center;
}

.countdown::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 78rem;
    background-color: $veryDarkGray;
    background-image: url('/assets/home/bg-pattern-footer.svg');
    background-size: cover;
    background-position: center 12.25rem;
    z-index: -1;

    @include breakpoint-up(medium) {
        height: 60rem;
    }

    @include breakpoint-up(large) {
        height: 47rem;
        background-position: center -9.75rem;

    }
}

.countdown__text {
    display: block;
    padding-bottom: 1.125rem;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 3rem;
    color: white;
    letter-spacing: 0.3125rem;
}

.countdown__date {
    color: $blue;
}

.countdown__clock {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3.5rem, 1fr));
    gap: 0.75rem;
    margin: auto;
    padding-bottom: 2.5rem;
    max-width: 28rem;
}

.countdown__clock__card {
    background-color: $darkGray;
    border-radius: 0.25rem;

    @include breakpoint-up(medium) {
        max-width: 6.25rem;
        border-radius: 0.75rem;
    }
}

.countdown__clock__card__number {
    display: block;
    padding: 0.75rem 1rem 0 1rem;
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    color: white;

    @include breakpoint-up(medium) {
        padding-top: 2rem;
        font-size: 3.5rem;
    }
}

.countdown__clock__card__text {
    display: block;
    padding-bottom: 0.75rem;
    font-size: 0.75rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: $white;
    opacity: 0.5;

    @include breakpoint-up(medium) {
        font-size: 1rem;
    }
}