.header {
    position: relative;
    padding-top: 2.875rem;
    padding-bottom: 5rem;
    text-align: center;
}

.header::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 288px;
    background-image: url('/assets/home/bg-pattern-header.svg');
    background-size: 458px;
    background-repeat: no-repeat;
    background-position: center -170px;
}
