.hero {
    text-align: center;
}

.hero__image {
    position: relative;
    height: 16rem;
    padding-bottom: 4rem;
}

.hero__image__img {
    height: 114%;
    width: auto;
    object-fit: contain;
}

.hero__content {
    padding-bottom: 6.25rem;
}

.hero__content__heading {
    margin: 0;
    padding-bottom: 1.5rem;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    color: $veryDarkGray;
}

.hero__content__tagline {
    display: block;
    padding-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.625rem;
    color: $darkGray;
}
