.hero {
    margin-bottom: 6.25rem;
    text-align: center;

    @include breakpoint-up(medium) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 8.75rem;
    }
}

.hero__image {
    position: relative;
    height: 16rem;
    padding-bottom: 4rem;

    @include breakpoint-up(medium) {
        flex: 1;
        order: 2;
        padding-bottom: 0;
        text-align: right;
    }
}

.hero__image__img {
    height: 14rem;
    width: auto;
    object-fit: contain;

    @include breakpoint-up(medium) {
        height: 23rem;
    }

    @include breakpoint-up(large) {
        height: 28rem;
    }
}

.hero__content {

    @include breakpoint-up(medium) {
        flex: 1;
        order: 1;
        text-align: left;
    }
}

.hero__content__heading {
    margin: 0;
    padding-bottom: 1.5rem;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    color: $veryDarkGray;

    @include breakpoint-up(large) {
        font-size: 3rem;
        line-height: 3.5rem;
    }


}

.hero__content__tagline {
    display: block;
    padding-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.625rem;
    color: $darkGray;

    @include breakpoint-up(large) {
        font-size: 1.25rem;
        padding-right: 1rem;
    }
}
