$blue: rgb(81, 117, 255);
$lightBlue: rgb(130, 156, 255);

$veryLightGray: rgb(242, 242, 242);
$gray: rgb(116, 123, 149);
$darkGray: rgb(51,57,80);
$veryDarkGray: rgb(37, 41, 58);

$red: rgb(240, 91, 91);