.header_homepage::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 288px;
    background-image: url('/assets/home/bg-pattern-header.svg');
    background-size: 458px;
    background-repeat: no-repeat;
    background-position: center -170px;

    @include breakpoint-up(medium) {
        height: 502px;
        background-size: 666px;
        background-position: 373px -164px;
    }

    @include breakpoint-up(large) {
        height: 715px;
        background-size: 1134px;
        background-position: 480px -464px;
    }

    @include breakpoint-up(xlarge) {
        background-position: 661px -419px;
    }

}
