.btn{
    display: inline-block;
    height: 3.5rem;
    width: 10.75rem;
    border-radius: 1.75rem;
    text-align: center;
    font-weight: 700;
    line-height: 3.5rem;
    transition: all 200ms ease-in-out;
    
}

.btn--cta {
    color: white;
    background-color: $blue;

    &:hover {
        background-color: $medBlue;
    }

    &:focus {
        outline: 0;
        background-color: $medBlue;
        box-shadow: 
            0 0 1px 2px $veryLightGray,
            0 0 3px 4px $medBlue;
    }
}

.btn--cta--darkbg {
    color: white;
    background-color: $blue;

    &:hover {
        background-color: $medBlue;
    }

    &:focus {
        outline: 0;
        background-color: $medBlue;
        box-shadow: 
            0 0 1px 2px $darkGray,
            0 0 3px 4px $medBlue;
    }
}

.btn--blue {
    color: $blue;
    background-color: $veryLightBlue;

    &:hover {
        background-color: $lightBlue;
    }

    &:focus {
        outline: 0;
        background-color: $lightBlue;
        box-shadow: 
            0 0 1px 2px $white,
            0 0 3px 4px $lightBlue;
    }
}

.btn--white {
    color: $blue;
    background-color: white;

    &:hover {
        color: $medBlue;
    }

    &:focus {
        outline: 0;
        color: $medBlue;
        box-shadow: 
            0 0 1px 2px $medBlue,
            0 0 3px 4px $white;
    }
}