.form {
    max-width: 27.75rem;
    margin: 0 auto 5.5rem auto;
    padding: 1.5rem;
    border-radius: 0.75rem;
    background-color: $white;
    
}

.form__control {
    display:block;
    appearance: none;
    width: 100%;
    height: 2.75rem;
    margin-bottom: 1.5rem;
    padding: 0 0 1rem 1rem;
    border: 0;
    border-bottom: 1px solid $grayHalfOpacity;
    border-radius: 0;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.75rem;
    color: $darkGray;

}

.form__control::placeholder {
    color: $gray;
    opacity: 0.5;
}

.form__control_custom-select {
    position: relative;
    margin-bottom: 1.5rem;
}

.form__control_custom-select__toggle {
    position: absolute;
    right: 1.5rem;
    top: 0.75rem;
}

.form__submit {
    width: 100%;
    margin-top: 1rem;
    border: none;
    background-color: $blue;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.75rem;
    color: $white;
}

.form__submit:hover {
    background-color: $medBlue;
}