.form {
    max-width: 27.75rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
    background-color: $white;
    
    @include breakpoint-up(xlarge) {
        margin: 0;
        padding: 2.5rem;
    }
}

.form__group {
    position: relative;
}

.form__control {
    position: relative;
    display:block;
    appearance: none;
    width: 100%;
    padding: 1.5rem 1rem 1rem;
    border: 0;
    border-bottom: 1px solid $grayHalfOpacity;
    border-radius: 0;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.75rem;
    color: $darkGray;

    &.not-valid {
        border-bottom-color: $red;
        color: $red;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: red;


        }
    }
}

.form__control::placeholder {
    color: $gray;
    opacity: 0.5;
}

.form__control__error {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
    padding: 1.75rem 1rem 1.25rem;
}

.form__control--custom-select {
    position: relative;
}

.form__control--custom-select__input {
    cursor: pointer;
}

.form__control--custom-select__toggle__icon {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    padding: 1rem 1rem 1rem;
    line-height: 1.75rem;
    cursor: pointer;
    transition: transform 200ms ease-in-out;

    &.is-open {
        transform: rotate(180deg);
    }
}

.form__control--custom-select__dropdown {
    position: absolute;
    top: 4.5rem;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0.5rem 2rem;
    background-color: $white;
    border: 1px solid $darkGrayLowOpacity;
    border-radius: 0.5rem;
    list-style: none;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.747);
    z-index: 10;
}

.form__control--custom-select__item {
    position: relative;
    padding: 1rem 0;
    font-size: 1rem;
    line-height: 1.75rem;

    &:not(:last-child) {
        border-bottom: 1px solid $darkGrayLowOpacity;
    }

    &.selected {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-image: url('/assets/sign-up/icon-check.svg');
            background-repeat: no-repeat;
            background-position: center right 0.25rem;
        }
    }
    
}

.form__submit {
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    border: none;
    background-color: $blue;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.75rem;
    color: $white;
}

.form__submit:hover {
    background-color: $medBlue;
}