.form {
    max-width: 27.75rem;
    margin: 0 auto 5.5rem auto;
    padding: 1.5rem;
    border-radius: 0.75rem;
    background-color: $white;
    
}

.form__control {
    display:block;
    appearance: none;
    width: 100%;
    height: 2.75rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border: 0;
    border-bottom: 1px solid $grayHalfOpacity;
    border-radius: 0;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.75rem;
    color: $darkGray;
    //opacity: 0.5;
    
    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &:last-of-type {
        margin-bottom: 2.5rem;
    }
}

.form__control::placeholder {
    color: $gray;
    opacity: 0.5;
}

.form__control_custom-select {
    position: relative;
}

.form__control_custom-select__toggle {
    position: absolute;
}

.form__submit {
    width: 100%;
    border: none;
    background-color: $blue;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.75rem;
    color: $white;
}

.form__submit:hover {
    background-color: $medBlue;
}