.header {
    position: relative;
    padding-top: 2.875rem;
    padding-bottom: 5rem;
    text-align: center;

    @include breakpoint-up(medium) {
        padding-top: 4.5rem;
        padding-bottom: 6.5rem;
        text-align: left;
    }
}