.header--signup {
    max-width: 1580px;
    margin: auto;
}

.header--signup::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 288px;
    background-image: url('/assets/home/bg-pattern-header.svg');
    background-size: 458px;
    background-repeat: no-repeat;
    background-position: center -170px;
    z-index: -1;

    @include breakpoint-up(medium) {
        display: none;
    }
}