.signup__intro {
    margin-bottom: 4rem;
    text-align: center;

    @include breakpoint-up(medium) {
        margin-bottom: 6.5rem;
    }

    @include breakpoint-up(xlarge) {
        margin-bottom: 0;
        text-align: left;
    }
}

.signup__intro__copy {
    padding-bottom: 4rem;

    @include breakpoint-up(medium) {
        padding-bottom: 2.5rem;
    }

    @include breakpoint-up(large) {
        text-align: left;
    }
}

.signup__intro__copy__heading {
    font-size: 2.5rem;
    line-height: 3rem;
    color: $darkGray;

    @include breakpoint-up(large) {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    @include breakpoint-up(xlarge) {
        font-size: 3.5rem;
        line-height: 4rem;
    }
}

.signup__intro__copy__tagline {
    font-size: 1rem;
    line-height: 1.625rem;
    color: $gray;

    @include breakpoint-up(large) {
        font-size: 1.25rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }
}

