.signup__form {
    //positioning
}

.signup__form__plan {
    font-weight: 700;
    color: $darkGray;
}

.signup__form__plan__price {
    padding-left: 0.5rem;
    font-weight: 700;
    color: $grayHalfOpacity;
}