.signup {
    position: relative;
    justify-content: space-between;
    align-items: center;
    
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20rem;
        background-color: $veryDarkGray;
        background-image: url('/assets/sign-up/bg-pattern-side.svg');
        background-size: 75rem;
        background-repeat: no-repeat;
        background-position: center -25.25rem;
        z-index: -1;

        @include breakpoint-up(medium) {
            background-size: 91rem;
            background-position: center -33rem;
        }
    }

    @include breakpoint-up(xlarge) {
        display: flex;
    }
}

.signup__intro {
    margin-bottom: 4rem;
    text-align: center;

    @include breakpoint-up(medium) {
        margin-bottom: 6.5rem;
    }

    @include breakpoint-up(large) {
        padding-left: 6.5rem;
        padding-right: 6.5rem;
    }

    @include breakpoint-up(xlarge) {
        flex: 50%;
        margin-bottom: 0;
        padding: 0;
        text-align: left;
    }
}

.signup__intro__copy {
    padding-bottom: 4rem;

    @include breakpoint-up(medium) {
        padding-bottom: 2.5rem;
    }

    @include breakpoint-up(xlarge) {
        //text-align: left;
    }
}

.signup__intro__copy__heading {
    font-size: 2.5rem;
    line-height: 3rem;
    color: $darkGray;

    @include breakpoint-up(large) {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    @include breakpoint-up(xlarge) {
        font-size: 3.5rem;
        line-height: 4rem;
    }
}

.signup__intro__copy__tagline {
    font-size: 1rem;
    line-height: 1.625rem;
    color: $gray;

    @include breakpoint-up(large) {
        font-size: 1.25rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }
}

.signup__form {
    padding-bottom: 5.5rem;

    @include breakpoint-up(xlarge) {
        flex: 50%;
        margin-right: 0;
        padding-bottom: 0;
    }
}

.signup__form__plan {
    font-weight: 700;
    color: $darkGray;

    &.basic {
        &::after {
            content: 'Free';
            padding-left: 0.5rem;
            font-weight: 700;
            color: $grayHalfOpacity;
        }
    }

    &.pro {
        &::after {
            content: '$9.99';
            padding-left: 0.5rem;
            font-weight: 700;
            color: $grayHalfOpacity;
        }
    }

    &.ultimate {
        &::after {
            content: '$19.99';
            padding-left: 0.5rem;
            font-weight: 700;
            color: $grayHalfOpacity;
        }
    }
}

