.signup__form {
    //positioning
}

.signup__form__plan {
    font-weight: 700;
    color: $darkGray;

    &.basic {
        &::after {
            content: 'Free';
            padding-left: 0.5rem;
            font-weight: 700;
            color: $grayHalfOpacity;
        }
    }

    &.pro {
        &::after {
            content: '$9.99';
            padding-left: 0.5rem;
            font-weight: 700;
            color: $grayHalfOpacity;
        }
    }

    &.ultimate {
        &::after {
            content: '$19.99';
            padding-left: 0.5rem;
            font-weight: 700;
            color: $grayHalfOpacity;
        }
    }
}
